body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(104, 210, 255);
}

.menu{
    list-style: none;
    padding: 0;
    background: #0a0927;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: aqua;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #839;
}

header{
    background-color: rgb(42, 85, 205);
    text-align: center;
    color: antiquewhite;
}